<header id="navigation-items" class="top-navigation big">
    <ul>
        <li><a class="active" href="#" data-content="the-wedding">Bröllopet</a>
        </li>
        <li><a href="#" data-content="practical">Praktiskt</a></li>
        <li><a href="#" data-content="wedding-escort">Bröllopsfölje</a></li>
        <li><a href="#" data-content="timeline">Vår historia</a></li>
        <li><a href="#" data-content="wishlist">Önskelista</a></li>
        <li><a href="#" data-content="osa">O.S.A.</a></li>
    </ul>
</header>
<div id="the-wedding" data-nav="section">
	<div class="section">
		<img class="bg" src="images/head-img.jpg" alt="tunis" />
		<div class="overlay text-center">
			<div class="container white-text">
				<div class="birds">
					<img src="images/logo.png" alt="" />
				</div>
				<h1>Välkommen</h1>
				<h2>till vårt bröllop!</h2>
			</div>
		</div>
	</div>
	<div class="section jumbotron">
		<div id="waxholm-church" class="container center">
			<div class="row" style="margin-bottom: 3%;">
				<h2>Om bröllopet</h2>
			</div>
			<div class="row">
				<div class="col-lg-5 col-sm-7">
					<h3>Vigseln</h3>
					<p>Vigseln äger rum i Vaxholms kyrka kl 14.30. Kommunalt tar man sig enklast dit med buss 670 som avgår var 20:e minut från t ex Tekniska högskolan och Danderyds sjukhus. Tidtabell finns <a href="http://sl.se/ficktid/vinter/H670.pdf">här</a>.</p>
					<p>Efter vigseln promenerar vi tillsammans (5 minuters gång, men ta med paraply om ni tror det behövs) mot gemensam transport till Ljusterö som tar en knapp timme.</p>

					<h3>Festen</h3>
					<p>Festen hålls i Ljusterö bygdegård (Mellansjövägen 82, 184 95 Ljusterö) så det är hit ni ska ta er om ni önskar ta egen transport dit från kyrkan (rekommenderas ej). Vi andra räknar med att vara där ungefär kl 17.00.</p>
				</div>
				<div class="col-lg-7 col-sm-5">
					<div id="ringbling"></div>
				</div>
			</div>
            <div class="row">
                <h4>Denna sida kommer hållas uppdaterad löpande, så håll gärna ett öga på den!</h4>
            </div>
		</div>
	</div>
	<div class="section jumbotron" id="countdown-bg">
		<div class="counterbg">
			<div class="commingsoon text-center">
				<p>lördagen den 2a maj 2015</p>
			</div>
			<div id="counter"></div>		   	 	  	 
		</div>			
	</div>
</div>
<div id="practical" data-nav="section">
	<div class="container center">
		<h2 class="center">Praktiskt</h2>
        <div class="row">
            <div class="col-sm-4">
                <div class="center"><span style="padding: 13px 14px 17px 16px;" class="rounded-large glyphicon glyphicon-sunglasses"></span></div>
                <h3>Klädsel</h3>
                <p>
                    Kavaj
                </p>
            </div>
            <div class="col-sm-4">
                <div class="center"><span class="rounded-large glyphicon glyphicon-heart-empty"></span></div>
                <h3>Allergier / matpreferenser</h3>
                <p>
                    Om ni har några allergier eller speciella preferenser när det gäller mat så får ni gärna ange det när
                    ni O.S.A:ar senast den 20e mars!
                </p>
            </div>
            <div class="col-sm-4">
                <div class="center"><span class="rounded-large glyphicon glyphicon-transfer"></span></div>
                <h3>Transport</h3>
                <p>
                    För att ta sig till och från Ljusterö så måste man ta en färja mellan ön och fastlandet. Sista
                    färjan tillbaka på natten går kl 02.00. För de som önskar så kommer vi hyra in en buss som åker med
                    sista färjan tillbaka in till Stockholm (med lämpliga stopp på vägen), så delar vi på priset för
                    alla (ca 80-100 kr per person). Anmäl även detta när ni O.S.A:ar. Det går även att åka taxi till 
                    Åkersberga där man kan ta sig vidare kommunalt.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="center"><span class="rounded-large glyphicon glyphicon-home"></span></div>
                <h3>Boende</h3>
                <p>
                	Vi rekommenderar att man bor någonstans inne i Stockholm och åker bussen tillbaka på kvällen.
                    Det finns tyvärr inte jättegott om boende i närheten av festlokalen. Det vi har kunnat hitta är:
                    <a href="http://www.klintsundetmarina.se/klintsundet-marina---om-oss">Klintsundet</a>, 
                    <a href="http://www.rastaborg.se/">Rastaborg</a> och 
                    <a href="http://www.thepublic.nu/akersberga/hotel/">The public</a>.
                    Dit kan man i så fall ta sig med t ex Hammarbackens taxi som håller till på Ljusterö.
                </p>
            </div>
            <div class="col-sm-4">
                <div class="center"><span style="padding: 11px 14px 19px 16px;" class="rounded-large glyphicon glyphicon-road"></span></div>
                <h3>Vägbeskrivning</h3>
                <p>
                	Vaxholms kyrka ligger
                	<a href="https://www.google.se/maps/place/Vaxholms+f%C3%B6rsamling/@59.4031807,18.3497057,17z/data=!4m5!1m2!2m1!1sF%C3%B6rsamling!3m1!1s0x0000000000000000:0xd28e3b8e666de009" target="_blank">här</a>
                	och hit tar man sig lättast med <a href="http://sl.se/ficktid/vinter/H670.pdf">buss</a>.
                </p>
                <p>
                	Till festlokalen anordnas sedan transport, men vill man åka själv (eller bara är nyfiken) ligger den 
                	<a href="https://www.google.se/maps/place/Mellansj%C3%B6v%C3%A4gen+82,+184+95+Ljuster%C3%B6/@59.5232429,18.635788,17z/data=!3m1!4b1!4m2!3m1!1s0x46f5622433902909:0x13ce5ea9ec9d61b4" target="_blank">här</a>.
                </p>
            </div>
            <div class="col-sm-4">
                <div class="center"><span style="padding: 11px 14px 19px 16px;" class="rounded-large glyphicon glyphicon-camera"></span></div>
                <h3>Foton</h3>
                <p>
                    Vi har skapat ett konto på sidan <a href="http://www.wedpics.com/wedding/MTI3MjczMA/album">wedpics</a> med ID: LouiseErik
                </p>
                <p>
                    Här får ni gärna ladda upp bilder från bröllopet, vilket även kan göras via deras app: WedPics för
                    <a href="https://play.google.com/store/apps/details?id=com.dejami.WedPics&hl=en">Android</a> och
                    <a href="https://itunes.apple.com/app/wedpics-wedding-photo-app/id549402355?mt=8">iOS</a>.
                </p>

            </div>
        </div>
    </div>
</div>
<div id="wedding-escort" data-nav="section">
	<div class="section jumbotron">
		<div class="container">
			<h2 class="center">Bröllopsfölje</h2>
			<div class="row">
				<div class="col-sm-3 col-xs-6 text-right">
					<h3>Jenny</h3>
					<h4>Tärna</h4>
					<p>… och en av brudens bästa och äldsta vänner</p>
				</div>
				<div class="col-sm-3 col-xs-6">
					<img src="images/jenny.jpg" alt="" class="round" />
				</div>
				<div class="col-sm-3 col-xs-6 clear-xs">
					<img src="images/niklas.jpg" alt="" class="round"/>
				</div>
				<div class="col-sm-3 col-xs-6 text-left">
					<h3>Niklas</h3>
					<h4>Bestman</h4>
					<p>… och brudgummens bästa kompis sedan de åt sand tillsammans i sandlådan</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 col-xs-6 text-right">
					<h3>Sara</h3>
					<h4>Tärna</h4>
					<p>… och brudens bästa vän</p>
				</div>
				<div class="col-sm-3 col-xs-6">
					<img src="images/sara.jpg" alt="" class="round" />
				</div>
				<div class="col-sm-3 col-xs-6 clear-xs">
					<img src="images/gurra.jpg" alt="" class="round"/>
				</div>
				<div class="col-sm-3 col-xs-6 text-left">
					<h3>Gustav</h3>
					<h4>Marsalk</h4>
					<p>… och bror till brudgummen<p>
				</div>
			</div>
            <div class="row">
                <div class="col-sm-3 col-xs-6 text-right">
                    <h3>Christoffer</h3>
                    <h4>Toastmaster</h4>
                    <p>… och brudens äldsta bror</p>
                    <p>Kontakt: <a href="mailto:christoffer@enqvi.st">christoffer@enqvi.st</a></p>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <img src="images/christoffer.jpg" alt="" class="round" />
                </div>
                <!--<div class="col-sm-3 col-xs-6 clear-xs">
                    <img src="images/404.jpg" alt="" class="round"/>
                </div>
                <div class="col-sm-3 col-xs-6 text-left">
                    <h3>{}</h3>
                    <h4>{}</h4>
                    <p>… och {}<p>
                </div>-->
            </div>
		</div>
	</div>
</div>
<div id="timeline" data-nav="section">
	<div class="section">
		<div class="container">
			<div class="page-header">
				<h2 id="timeline">Tidslinje</h2>
			</div>
			<ul class="timeline">
				<li>
					<div class="timeline-badge"><i class="glyphicon glyphicon-briefcase"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h5><i class="glyphicon glyphicon-time"></i> Augusti 2011</h5>
						</div>
						<div class="timeline-body">
							<p>
                                Historian börjar när vi möttes i Oslo och hade vårt första samtal på en jobbfest. Om
                                brudgummens minne av hur det gick till stämmer så är bruden glad att hon inte minns det!
                            </p>
                            <p>
                                <img class="fit" src="/images/sjuttondemaj.jpg" alt="17 Maj" />
                            </p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
					<div class="timeline-badge"><i class="glyphicon glyphicon-glass"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
                            <h5><i class="glyphicon glyphicon-time"></i> December 2011</h5>
						</div>
						<div class="timeline-body">
							<p>
                                Lär känna varandra ordentligt när bruden gör en fin insats och tar "ett varv runt
                                kvarteret" med brudgummen efter att han inte fick komma in på klubben. Ett varv blev
                                sedan väldigt många (den fina versionen är att vi tyckte om varandras sällskap och
                                därför fortsatte promenaden!)
                            </p>
						</div>
					</div>
				</li>
				<li>
					<div class="timeline-badge"><i class="glyphicon glyphicon-heart-empty"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
                            <h5><i class="glyphicon glyphicon-time"></i> 5 Maj 2012</h5>
						</div>
						<div class="timeline-body">
							<p>
                                Livet börjar på riktigt och vi blir officiellt tillsammans.
                            </p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
                    <div class="timeline-badge"><i class="glyphicon glyphicon-plane"></i></div>
                    <div class="timeline-panel">
						<div class="timeline-heading">
                            <h5><i class="glyphicon glyphicon-time"></i> Juli 2012</h5>
						</div>
						<div class="timeline-body">
							<p>
                                Brudparet åker på sin första semester tillsammans. En veckas test i Tunisien för att se
                                att vi verkligen stod ut med varandra så länge själva. Båda klarade testet utmärkt!
                            </p>
                            <p>
                                <img class="fit" src="/images/tunis.jpeg" alt="Tunisien!" />
                            </p>
						</div>
					</div>
				</li>
				<li>
					<div class="timeline-badge"><i class="glyphicon glyphicon-home"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
                            <h5><i class="glyphicon glyphicon-time"></i> Oktober 2012</h5>
						</div>
						<div class="timeline-body">
							<p>
                                Brudens 2 inneboende flyttar tillbaka till Sverige och gör plats för brudgummen att
                                flytta in. Den ettan på 20 kvm hade varit alldeles för stor för att bo själv i!
                            </p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
					<div class="timeline-badge"><i class="glyphicon glyphicon-bed"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
                            <h5><i class="glyphicon glyphicon-time"></i> December 2012</h5>
						</div>
						<div class="timeline-body">
							<p>
                                Flyttade in i vår första lägenhet med bådas namn på dörren. De extra 40 kvm
                                kompenserades med att gå ner till en 105 säng.
                            </p>
						</div>
					</div>
				</li>
                <li class="no-clear-after">
                    <div class="timeline-badge"><i class="glyphicon glyphicon-tree-conifer"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h5><i class="glyphicon glyphicon-time"></i> Jul och Nyår 2012/13</h5>
                        </div>
                        <div class="timeline-body">
                            <p>
                                För att fira att vi äntligen flyttat ihop på riktigt spenderar vi jul och nyår på varsin
                                sida av jordklotet.
                            </p>
                            <p>
                                <img class="fit" src="/images/vejtnam.jpg" alt="Jul/Nyår" />
                            </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted no-clear-before">
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <p>
                                <img class="fit" src="/images/austerajsh.jpg" alt="Jul/Nyår" />
                            </p>
                        </div>
                    </div>
                </li>
				<li>
					<div class="timeline-badge"><i class="glyphicon glyphicon-gift"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
                            <h5><i class="glyphicon glyphicon-time"></i> November 2013</h5>
						</div>
						<div class="timeline-body">
							<p>
                                Brudgummens 27:e födelsedag firades under en fantastisk weekend i Paris.
                            </p>
                            <p>
                                <img class="fit" src="/images/paris.jpg" alt="Paris!" />
                            </p>
						</div>
					</div>
				</li>
                <li class="timeline-inverted">
					<div class="timeline-badge"><i class="glyphicon glyphicon-star-empty"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
                            <h5><i class="glyphicon glyphicon-time"></i> 19 april 2014</h5>
						</div>
						<div class="timeline-body">
							<p>
                                Brudgummen friar på ett helt perfekt sätt, årets finaste dag, ensamma på ett stort fält
                                i Central Park, NY. Förlovningen firas storskaligt med en varm korv och Snaple!
                            </p>
                            <p>
                                <img class="fit" src="/images/ny-engage.jpg" alt="Förlovningslunch" />
                            </p>
						</div>
					</div>
				</li>
			    <li>
					<div class="timeline-badge"><i class="glyphicon glyphicon-road"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
                            <h5><i class="glyphicon glyphicon-time"></i> 30 augusti 2014</h5>
						</div>
						<div class="timeline-body">
							<p>
                                Bruden och brudgummen packar äntligen en väldigt överfylld lastbil och flyttar tillbaka till Sverige och deras första 15% av en helt egen lägenhet!
                            </p>
                            <p>
                                <img class="fit" src="/images/flytt.jpg" alt="Flytt" />
                            </p>
						</div>
					</div>
				</li>
			    <li class="timeline-inverted">
					<div class="timeline-badge"><i class="glyphicon glyphicon-bell"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
                            <h5><i class="glyphicon glyphicon-time"></i> 2 maj 2015</h5>
						</div>
						<div class="timeline-body">
							<p>
                                Den stora dagen!
                            </p>
						</div>
					</div>
				</li>
			    <li>
					<div class="timeline-badge"><i class="glyphicon glyphicon-baby-formula"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
                            <h5><i class="glyphicon glyphicon-time"></i> 26 juli 2015</h5>
						</div>
						<div class="timeline-body">
							<p>
                                Beräknad som en ännu större dag!
                            </p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div id="wishlist" data-nav="section" >
    <div class="jumbotron section" style="background-color: #FFCBCB;">
        <div class="container">
            <h2>Önskelista</h2>
            <p>
				Det finaste ni kan ge oss är er närvaro på vår stora dag och vi uppskattar att ni som kommer långväga tar er tiden att resa till Stockholm för vår skull. Detta räcker gott och väl för oss. Vill ni ändå bidra med något så tar vi tacksamt emot bidrag för att förgylla vår bröllopsresa ytterligare eller så har vi samlat en liten lista på föremål <a href="#" id="toggleWishList">här</a> innom kort.
			</p>
			<table id="wishListTable" class="table table-condensed hidden">
				<thead>
					<tr>
						<th>Antal</th><th>Föremål</th><th>Pris</th><th>Länk</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td><a href="#">-</a></td>
					</tr>
					<!--<tr>
						<td>8</td>
						<td>Höganäs kaffekoppar 30 cl (grafitgrå)</td>
						<td>149 kr/st</td>
						<td><a href="https://www.cervera.se/Pa-Bordet/Koppar/Kaffe--tegods/hoganas-kaffemuggtrafat-30-cl-grafitgra">cervera</a></td>
					</tr>
					<tr>
						<td>8</td>
						<td>Orrefors Merlot Champagneglas</td>
						<td>269 kr/st</td>
						<td><a href="https://www.cervera.se/Pa-Bordet/Glas/Champagneglas/merlot-champagneglas-29-cl">cervera</a></td>
					</tr>
					<tr>
						<td></td>
						<td>Ljusstakar Georg Jensen</td>
						<td></td>
						<td><a href="#">-</a></td>
					</tr>-->
				</tbody>
			</table>
			<p>
				Har du några frågor eller funderar på vad som inte redan är köpt kan du maila <a href="mailto:linn.kylvag@gmail.com">Linn</a>.
			</p>
        </div>
    </div>
</div>
<div id="osa" data-nav="section" >
    <div class="jumbotron section">
        <div class="container">
            <h2>O.S.A.</h2>
            <h4>Svara senast den 20 mars.</h4>
            <form id="osa-form">
                <div class="form-group">
                    <label for="name">Namn:</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Ange ditt namn">
                </div>
                <div class="form-group">
                    <label>Kommer / Kommer inte:</label><br />
                    <label class="radio-inline">
                        <input type="radio" name="answear" id="answear1" value="yes" /> Kommer! :)
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="answear" id="answear2" value="no /"> Kommer inte :(
                    </label>
                </div>
                <div class="form-group">
                    <label for="allegies">Allergier / Matpreferenser:</label>
                    <input type="text" name="allergies" class="form-control" id="allegies" placeholder="Ange Allergier och Matpreferenser" />
                </div>
                <div class="form-group">
                    <label>Önskar busstransport hem på natten:
                        <input name="bussTransport" type="checkbox" style="margin-left: 15px;"/>
                    </label>
                </div>
                <div class="form-group">
                    <label for="other">Övrig info som är bra att veta om:</label>
                    <input type="text" class="form-control" name="others" id="other" placeholder="Annat som är bra och veta">
                </div>
                <button type="submit" class="btn btn-default pull-right">Skicka</button>
            </form>
        </div>
    </div>
</div>
<footer class="section">
    <div class="fadeOverlay"></div>
    <ul>
        <li>Kontakt: <a href="mailto:erik@skogby.com">erik@skogby.com</a></li>
        <li>© 2015 Erik Skogby</li>
    </ul>
</footer>