<header class="top-navigation">
	<div class="top-menu">
		<ul id="navigation-items">
			<li><a class="active" href="#" data-content="the-wedding">Bröllopet</a>
			</li>
			<li><a href="#" data-content="practical">Praktiskt</a></li>
			<li><a href="#" data-content="wedding-escort">Bröllopsfölje</a></li>
			<li><a href="#" data-content="timeline">Vår historia</a></li>
			<li><a href="#" data-content="wishlist">Önskelista</a></li>
			<li><a href="#" data-content="osa">O.S.A.</a></li>
		</ul>
	</div>
</header>
<div id="the-wedding" data-nav="section">
	<div class="section">
		<img class="bg" src="images/head-img.jpg" alt="tunis" />
		<div class="overlay text-center">
			<div class="container white-text">
				<div class="birds">
					<img src="images/logo.png" alt="" />
				</div>
				<h1>Välkommen</h1>
				<h2>till vårt bröllop!</h2>
			</div>
		</div>
	</div>
	<div class="section jumbotron" style="overflow: hidden;">
		<div id="waxholm-church" class="container center">
			<div class="row" style="margin-bottom: 40px;">
				<h2>Om bröllopet</h2>
			</div>
			<div class="row">
				<div class="col-lg-5 col-sm-7">
					<h3>Vigseln</h3>
					<p>Vigseln äger rum i Vaxholms kyrka kl 14.30. Kommunalt tar man sig enklast dit med buss 670 som avgår var 20:e minut från t ex Tekniska högskolan och Danderyds sjukhus. Tidtabell finns <a href="http://sl.se/ficktid/vinter/H670.pdf">här</a>.</p>
					<p>Efter vigseln promenerar vi ner till bryggan (5 minuters gång, men ta med paraply om ni tror det behövs) och tar tillsammans med de som vill en båt upp till Ljusterö som tar en knapp timme.</p>

					<h3>Festen</h3>
					<p>Festen hålls i Ljusterö bygdegård (Mellansjövägen 82, 184 95 Ljusterö) så det är hit ni ska ta er om ni önskar ta egen transport dit från kyrkan. Vi andra räknar med att vara där ungefär kl 17.00.</p>
				</div>
				<div class="col-lg-7 col-sm-5">
					<img src="/images/waxholm-church.jpg" />
				</div>
			</div>
		</div>
	</div>
	<div class="section jumbotron" id="countdown-bg">
		<div class="counterbg">
			<div class="commingsoon text-center">
				<p>lördagen den 2a maj 2015</p>
			</div>
			<div id="counter"></div>		   	 	  	 
		</div>			
	</div>
</div>
<div id="practical" data-nav="section">
	<div class="container">
		<h2 class="center">Praktiskt</h2>
		<div></div>
	</div>
</div>
<div id="wedding-escort" data-nav="section">
	<div class="section jumbotron">
		<div class="container">
			<h2 class="center">Bröllopsfölje</h2>
			<div class="row">
				<div class="col-sm-3 text-right">
					<h4>Niklas</h4>
					<h5>Best Man</h5>
					<p>Shit happens when you party naked, trust me... He knows!</p>
				</div>
				<div class="col-sm-3">
					<img src="images/erik.jpg" alt="" class="round" />
				</div>
				<div class="col-sm-3">
					<img src="images/louise.jpg" alt="" class="round"/>
				</div>
				<div class="col-sm-3 text-left">
					<h4>Sara</h4>
					<h5>Not'a Man</h5>
					<p>Blubb blubb blubb tatatata kdasfdfa sdf asdfasdf </p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="timeline" data-nav="section">
	<div class="section">
		<div class="container">
			<div class="page-header">
				<h2 id="timeline">Tidslinje</h2>
			</div>
			<ul class="timeline">
				<li>
					<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="timeline-title">Mussum ipsum cacilds</h4>
							<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Augusti 2011</small></p>
						</div>
						<div class="timeline-body">
							<p>Text</p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
					<div class="timeline-badge warning"><i class="glyphicon glyphicon-heart"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="timeline-title">Mussum ipsum cacilds</h4>
						</div>
						<div class="timeline-body">
							<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
							<p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="timeline-title">Mussum ipsum cacilds</h4>
						</div>
						<div class="timeline-body">
							<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="timeline-title">Mussum ipsum cacilds</h4>
						</div>
						<div class="timeline-body">
							<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="timeline-title">Mussum ipsum cacilds</h4>
						</div>
						<div class="timeline-body">
							<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
							<hr>
							<div class="btn-group">
								<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
									<i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Action</a></li>
									<li><a href="#">Another action</a></li>
									<li><a href="#">Something else here</a></li>
									<li class="divider"></li>
									<li><a href="#">Separated link</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="timeline-title">Mussum ipsum cacilds</h4>
						</div>
						<div class="timeline-body">
							<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
					<div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4 class="timeline-title">Mussum ipsum cacilds</h4>
						</div>
						<div class="timeline-body">
							<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>