<header class="top-navigation">
		<div class="top-menu">
			<ul class="cl-effect-16">
				<li><a class="active" href="#" data-content="the-wedding">
					<i class="glyphicon glyphicon-heart"></i>Bröllopet</a>
				</li>
				<li><a href="#" data-content="practical">Praktiskt</a></li>
				<li><a href="#" data-content="wedding-escort">Bröllopsfölje</a></li>
				<li><a href="#" data-content="wedding-escort">Vår historia</a></li>
				<li><a href="#" data-content="wedding-escort">Önskelista</a></li>
				<li><a href="#" data-content="wedding-escort">O.S.A.</a></li>
				<div class="clearfix"></div>
			</ul>
		</div>
	</header>
	<div id="the-wedding" data-nav="section">
		<div class="section">
			<img class="bg" src="images/head-img.jpg" alt="tunis" />
			<div class="overlay text-center">
				<div class="container white-text">
					<div class="birds">
						<img src="images/logo.png" alt="" />
					</div>
					<h1>Välkommen</h1>
					<h2>till vårt bröllop!</h2>
				</div>
			</div>
		</div>
		<div class="section jumbotron" style="overflow: hidden;">
			<div id="waxholm-church" class="container center">
				<div class="row" style="margin-bottom: 40px;">
					<h2>Om bröllopet</h2>
				</div>
				<div class="row">
					<div class="col-lg-5 col-sm-7">
						<h3>Vigseln</h3>
						<p>Vigseln äger rum i Vaxholms kyrka kl 14.30. Kommunalt tar man sig enklast dit med buss 670 som avgår var 20:e minut från t ex Tekniska högskolan och Danderyds sjukhus. Tidtabell finns <a href="http://sl.se/ficktid/vinter/H670.pdf">här</a>.</p>
						<p>Efter vigseln promenerar vi ner till bryggan (5 minuters gång, men ta med paraply om ni tror det behövs) och tar tillsammans med de som vill en båt upp till Ljusterö som tar en knapp timme.</p>

						<h3>Festen</h3>
						<p>Festen hålls i Ljusterö bygdegård (Mellansjövägen 82, 184 95 Ljusterö) så det är hit ni ska ta er om ni önskar ta egen transport dit från kyrkan. Vi andra räknar med att vara där ungefär kl 17.00.</p>
					</div>
					<div class="col-lg-7 col-sm-5">
						<img src="/images/waxholm-church.jpg" />
					</div>
				</div>
			</div>
		</div>
		<div class="section jumbotron" id="countdown-bg">
			<div class="counterbg">
				<div class="commingsoon text-center">
					<p>lördagen den 2a maj 2015</p>
				</div>
				<div id="counter"> </div>		   	 	  	 
			</div>			
		</div>
	</div>
	<div id="practial" data-nav="section"></div>
	<div id="wedding-escort" data-nav="section">
		<div class="section jumbotron">
			<div class="container">
				<h2 class="center">Bröllopsfölje</h2>
				<div class="row">
					<div class="col-sm-3 text-right">
						<h4>Niklas</h4>
						<h5>Best Man</h5>
						<p>Shit happens when you party naked, trust me... He knows!</p>
					</div>
					<div class="col-sm-3">
						<img src="images/erik.jpg" alt="" class="round" />
					</div>
					<div class="col-sm-3">
						<img src="images/louise.jpg" alt="" class="round"/>
					</div>
					<div class="col-sm-3 text-left">
						<h4>Sara</h4>
						<h5>Not'a Man</h5>
						<p>Blubb blubb blubb tatatata kdasfdfa sdf asdfasdf </p>
					</div>
				</div>
			</div>
		</div>
	</div>